.About {
  margin-top: 100px;
  width: 100%;
  padding: 20px;
}
@media (min-width: 768px) {
  .About {
    margin: auto;
    margin-top: 150px;
    width: 70%;
    padding: 40px;
  }
}
.aboutTitle {
  margin-bottom: 15px;
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  color: #999;
  font-weight: 500;
  letter-spacing: 5px;
  font-family: Quicksand, Arial, sans-serif;
}

.aboutHeading {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 1.8;
  position: relative;
  margin: 0 0 30px;
  color: #000;
  font-family: Playfair Display, Georgia, serif;
}
.aboutText {
  margin-bottom: 1.5em;
  font-family: Quicksand, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.8;
  color: #000000b3;
}
.crd {
  margin-bottom: 80px;
  box-shadow: 0 0 56px -8px #0000002b;
  border-bottom: 2px solid #2c98f0;
  padding: 1.5em;
}
.crd i {
  font-size: 30px;
  color: #2c98f0;
  margin-bottom: 20px;
}
.services h3 {
  font-family: Quicksand, Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
}

.red {
  border-color: #ec5453;
}
.red i {
  color: #ec5453 !important;
}

.yellow {
  border-color: #f9bf3f;
  i {
    color: #f9bf3f;
  }
}
.bnfsge {
  border-color: #a84cb8;
  i {
    color: #a84cb8;
  }
}
